.inside-center {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 8px 24px #7090B0B3;
    padding: 20px;
    margin: 50px;
}


#add-thread #input-add-thread {
    border-width: 0 0 2px;
    background: white;
    width: 50%;
    font-size: 3em;
}

#add-thread #input-add-thread:focus {
    outline:  none;
}

#add-thread #button-input-add-thread {
    border: none;
    background: #593C8F;
    color: white;
    font-size: 1.5em;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* text-align: right; */
    float: right;
    margin-top: 0px;
    height: 100%;
}

/* #global #global-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
} */