#thread-background {
    width: 750px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient( #fde8f7 0%, #d5e3fb 100%);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 8px 24px #7090B0B3;
    display: none;
}

#thread-background textarea{
    resize: none;
    border-style: dotted;
    border-width: 5px;
    border-color: pink;
}

#thread-background #ajouter-thread{
    padding : 40px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 30px;
    font-style: italic;
}

.sub-thread {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    width: 500px;
    left: 20%;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    background-image: linear-gradient( #fde8f7 0%, #d5e3fb 100%);
    white-space: nowrap;
    z-index: 0;
} 